body {
  background-color: linear-gradient(red, yellow);
}

.temp-text {
  color: #ffffff;
  font-size: 50px;
}

.label {
  font-size: 15px;
}

.beaker {
  border: 20px solid #ffffff;
  border-top: 30px solid #2980b9;
  border-radius: 10px 10px 30px 30px;
  min-height: 600px;
  padding: 30px;
  font-size: 15px;
}

.solid {
  background-color: #34495e;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #2c3e50 35px, #2c3e50 70px);
  color: #ffffff;
}

.liquid {
  background: 
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #34495e;
  background-size:75px 100px;
  color: #ffffff;
}

.gas {
  background-color:#2980b9;
  background-image: radial-gradient(#3498db 15%, transparent 16%),
  radial-gradient(#3498db 15%, transparent 16%);
  background-size:75px 75px;
  background-position: 15px 15px, 50px 50px;
  color: #ffffff;
}

/* SLIDER */
.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 8px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #34495E;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #2C3E50;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #2C3E50;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #34495E;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #2C3E50;
}
.range-slider__range:active::-moz-range-thumb {
  background: #2C3E50;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}